<div class="row title">
    <div class="col-xs-12">
        <button class="menuButton" onclick="showMenu()">Menu</button>
        <ul class="title" id="menuBar">
            <li class="activeLink"> <a href="#">Home</a></li>
            <li class="link"> <a href="contact.html">contact</a></li>
            <li class="link"> <a href="about.html">about</a></li>
            <li class="linkdrop"> <a href="#">languages</a>
                <div class="drop">
                    <a href="./german/german.html">german</a>
                    <a href="./arabi/arabi.html">arabi</a>
                    <a href="./farsi/farsi.html">persian</a>
                </div>

            </li>

        </ul>
    </div>
</div>